.rate {
    font-size: 16px;
    font-weight: 600;
    padding: 18px 40px 0px;
    color: #266bff;
    margin: 0;
}

@media (max-width: 767px) {
    .rate {
        display: flex;
        justify-content: center;
    }
}