.form__fieldset {
  background-color: white;
  border: solid white;
  border-radius: 10px;
  padding: 16px 13% 10px;
}

@media (max-width: 767px) {
  .form__fieldset {
    padding: 16px 40px 10px;
  }
}

.form__container {
  padding: 34px 0 24px;
  display: grid;
  grid-template-columns: 80px 1fr;
  grid-gap: 50px;
}

@media (max-width: 767px) {
  .form__container {
    grid-template-columns: 1fr;
    grid-gap: 16px;
  }
}

.form__container--currencies {
  padding: 8px 0;
}

.form__amountField {
  color: #366bff;
  background-color: white;
  border: 0;
  border-bottom: 2px solid hsl(224, 100%, 61%);
  padding: 13px;
  width: 100%;
  font-size: 20px;
  font-weight: 600;
  outline: none;
  text-align: center;
}

.form__amountField:hover {
  background-color: #f3f7ff;
  transition: background-color 0.5s ease;
}

.form__labelText {
  font-size: 13px;
  font-weight: 500;
  color: #5e5e5e;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 767px) {
  .form__labelText {
    text-align: center;
  }
}

.form__currenciesContainer {
  padding: 10px 60px;
  display: grid;
  grid-template-columns: 80px 1fr;
  grid-gap: 50px;
}

@media (max-width: 767px) {
  .form__currenciesContainer {
    grid-template-columns: 1fr;
    grid-gap: 16px;
  }
}

.form__currencyField {
  border: 1.5px solid #cccaca;
  border-radius: 6px;
  width: 100%;
  padding: 12px;
  font-size: 14px;
  font-weight: 700;
  color: #4c4c4c;
  background-color: white;
  outline-color: #0051ff;
  text-align: center;
}

.form__currencyField:hover {
  background-color: #f3f7ff;
  border: 1.5px solid #0051ff;
  transition: all 0.5s ease;
}

@media (max-width: 767px) {
  .form__currencyField {
    padding: 12px 12px 12px 24px;
  }
}

.form__buttonsContainer {
  padding: 0 0 18px;
}

.form__button {
  display: block;
  cursor: pointer;
  width: 90%;
  height: 55px;
  color: white;
  border: 1.5px solid #0051ff;
  border-radius: 50px;
  background-color: #0051ff;
  padding: 12px 36px;
  font-weight: 600;
  font-size: 15px;
  margin: 12px auto;
}

@media (max-width: 767px) {
  .form__button {
    width: 100%;
  }
}

.form__button--reset {
  color: #266bff;
  background-color: white;
  font-weight: 700;
  transition: all 0.5s ease;
}

.form__button:hover {
  background-color: #003cbd;
  transition: all 0.5s ease;
  border: 1.5px solid #003cbd;
}

.form__button--reset:hover {
  color: white;
}