.result {
    padding: 10px 0 15px;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    color: #266bff;
    margin: 32px auto 36px;
    line-height: 1.4;
}

.result--from {
    font-weight: 300;
    color: #5e5e5e;
}

.result--non-breaking {
    word-break: break-word;
}
