html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

body {
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  background-image: url("../images/background.png");
  background-size: cover;
  transform: scale(0.88);
}